.div-manejador {
  /* background-color: red; */
  width: 95%;
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.div-camino {
  height: 100%;
  width: 50.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-secciones {
  height: 100%;
  width: 33.3%;
}

.div-abc-tuto {
  /* background-color: blue; */
  height: 100%;
  width: 33.3%;
}
.cont-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
