@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Rubik:wght@400;600&display=swap");

.inputs{
    font-size: 20px;
    border: solid 1px;
    border-color: #676767;
    border-radius: 41px;
    display: block;
    width: 302.76px;
    height: 44px;
    background-color: #181818;
    padding: 0;
    margin: 0;
}

.inputs::placeholder{
    color: #FFFF;
    opacity: 50%;
    font-weight: 400;
    font-family: "Rubik";
    font-size: 20px;
    line-height: 23.7px;
    width: 256px;
    height: 24px;
    padding-top: 9px;
    padding-left: 25px;
}

.container2 {
    background-color: #151316;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    height: 100vh;           /* Opcional: ajusta la altura del contenedor */
}

.ocultar{
    visibility: hidden;
}

#submit{
    cursor: pointer;
    margin-top: 25px;
    background-color: #DE4A97;
    border-color: #DE4A97;
}

#back{
    margin-top: 15px;
    border-color: #DE4A97;
}

#span{
    margin-top: 8px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

#h1{
    color: #FFF;
    text-align: center;
    font-family: Lalezar;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .inputs {
        font-size: 24px;
        height: 48px;
    }
    
    .inputs::placeholder {
        font-size: 24px;
        line-height: 28.8px;
    }
}

/* Estilos para pantallas pequeñas, como teléfonos móviles */
@media screen and (max-width: 480px) {
    .inputs {
        font-size: 16px;
        height: 36px;
    }
    
    .inputs::placeholder {
        font-size: 16px;
        line-height: 19.2px;
    }
}