button {
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  background-color: #423b5078;
  border: solid #423b5078 3px;
}

.cont-ge {
  text-align: center;
}

.btn-img-option-ge {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

button img {
  width: 260px;
  height: 250px;
  background-color: #423b5078;
}

button.correcta {
  background-color: green;
}

button.incorrecta {
  background-color: red;
}
