.info-game{
    display: flex;
    position: fixed;
    z-index: 10;
    right: 25px;
    width: 150px;
    border: 1px solid #de4a97;
    padding: 10px;
    border-radius: 10px;
}

.memo-game-cont{
    display: flex;
    align-items: center;
}

.info-game > p{
    font-size: 28px;
}